<footer class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white white-70 dn dib-ns pv2 ph3 no-underline" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | compare.Default .Site.Title }} {{ . | safe.HTML }} {{ now.Format "2006"}} {{ end }}
  </a>

  <span class="f6 fw4 white-70 pv2 ph3">
      当サイトの作品はすべてフィクションです。実在の人物・団体とは一切関係ありません。
    </span>
    
    <div>{{ partials.IncludeCached "social/follow.html" . }}</div>
  </div>
</footer>
